.glow-border {
    box-shadow: 0 0 20px 2px #17a2b8;
    border-radius: 20px;
    overflow: hidden;
}

#mainPic {
    background: url(./images/mainPic.jpg) center/cover no-repeat;
    position: relative;
}

#mainPic::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.8));
    z-index: 1; /* Lower z-index for the overlay */
}

#huseerik, .huse {
    font-family: "Protest Guerrilla", sans-serif;
    position: relative; /* Ensure the button is positioned relative to this container */
    z-index: 2; /* Higher z-index for the button */
}


#mainNav {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-style: normal;
}

#header1 {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header2, #allskills, #allprojects, #footer {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#skills, #MyProjects, #Mytools {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}


.hover-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(173, 216, 230, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hover-card:hover .overlay {
    opacity: 1;
}

.overlay-text {
    font-size: 18px;
}

#allprojects{
    background: url('./images/background.gif') no-repeat center center fixed;
    background-size: cover;
}

    
#developerRole {
  border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  animation: typing 3s steps(22) forwards, blink-caret 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink-caret {
  to {
    border-color: transparent;
  }
}

@keyframes deleting {
  from {
    width: 50%;
  }
  to {
    width: 0;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.images {
  overflow: hidden;
  white-space: nowrap;
}

.images-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.images-slide img {
  margin: 10px 40px;
}

.tools-title {
  text-transform: capitalize;
  font-family: 'Silkscreen', sans-serif;
}